body{ font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;margin: 0;background-color: #fff!important;}
a{
    list-style: none;
    display: inline-block;
}
#app{
    margin: 0 auto;
    width: 6rem;
}
/*头部logo*/
header {
    width: 600%;
    height: 3.3rem;
    max-width: 6rem;
    border-radius: 3px;
    /*background: url("../img/poster.jpeg") no-repeat;*/
    background-size: 100% 145%;
}
#demo-video{
    width: 100%;
    height: 100%;
}
/*列表内容*/
.part{
    height: 6.5rem;
}
.content_0{
    width: 6rem;
    height: 6.3rem;
    overflow: hidden;
    position: relative;
}
.out{
    width: 25rem;
    overflow: hidden;
}
.info ul{
    float: left;
    width: 6rem;
    height: 7.1rem;
    box-sizing: border-box;
    padding: 0 0.05rem!important;
    margin: 0;
    position: relative;
    top:0;
    left: 0;
    transform: translateX(0);
    transition:transform 0.5s linear;
    zoom: 1;
}
.info ul:after{
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.info ul li {
    height: 1.8rem;
    margin-top: 0.2rem;
    padding-bottom: 0.05rem;
    list-style: none;
    border-radius: 6px;
    background-color: #fff;
    /*border-bottom: 2px solid #ccc;*/
    box-shadow: 0px 1px 2px #888;
}
.info ul li .box{
    width: 90%;
    height: 100%;
    margin: 0.1rem auto;
    box-sizing: border-box;
    overflow: hidden;
    zoom: 1;
}
.info ul .box a:hover{
    cursor: pointer;
}
.info ul li .box:after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
/*每块内容的标题*/
.box h4{
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.28rem;
    font-weight: 400;
    margin:0.05rem 0 0 0;
    width: 100%;
}
/*缩略图*/
.box .img_show{
    width: 1.2rem;
    height: 1rem;
    position: relative;
    float: left;
    opacity: 1;
    zoom: 1;
}
.box .img_show div{
    width: 0.72rem;
    height: 0.8rem;
    margin: 0.1rem 0 0 0.22rem;
    /*background: url("../img/play.png") no-repeat -1.65rem center;*/
    background-size: 4rem 2rem ;
    opacity: 0.4;
    position: absolute;
    top:0;
    left: 0;
}
.img_play{
    background: url("../img/play.png") no-repeat -1.64rem center;
}
.img_stop{
    background: url("../img/play.png") no-repeat -0.02rem center;
}
.box .img_show:after{
    content:"";
    height:0;
    visibility: hidden;
    display: block;
    clear: both;
}
.box .img_show img{
    width: 100%;
    height: 100%;
}
/*简单描述区*/
.box .text{
    margin: 0.10rem 0.13rem 0.08rem 0.15rem;
    width: 3.4rem;
    font-size:0.22rem;
    float: left;
    color: #666;
}
.box .text a{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
}
/*箭头符号*/
.box .arrow{
    display: inline-block;
    float: right;
    width: 0.3rem;
    height: 0.3rem;
    margin-top: 0.28rem;
    zoom: 1;
}
.box .arrow:after{
    content:"";
    height:0;
    visibility: hidden;
    display: block;
    clear: both;
}
.box .fa{
    color: #ccc;
    font-size: 0.32rem!important;
}
/*底下的4个圆圈*/
section {
    width: 3rem;
    height: 0.2rem;
    margin: 0 auto;
}
section .icon {
    width:100%;
    margin: 0 auto;
    height: 100%;
}
section .icon i{
    display: inline-block;
    width: 0.2rem;
    height: 100%;
    margin: 0.1rem 0.21rem 0 0.25rem;
    border-radius:100%;
    border: 1px solid #99CCFF;
    box-sizing: border-box;
}

/*当前页底部圆圈的样式*/
.select{
    background-color: #666699!important;
}
/*滚动时，视频界面固定在头部*/
.head-fix-top{
    position: fixed;
    z-index: 99;
}
.intro-relative{
    position: relative;
    top:3.65rem;
}

/*视频播放*/
/*.video_play{*/
    /*display: none!important;*/
/*}*/
